<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Task</h2>
  <!-- ngSubmit es un event listener que se activa cuando se presiona el boton submit 
   este se activa cuando el formulario es enviado y evita que se envie al servidor una señal http
   y asi poder manejar desde el cliente la peticion como tu quieras-->
  <form (ngSubmit)="onSubmit()"> 
    <p>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle"  />
    </p>
    <!-- ngModel es un attribute de angular que es doble way binding, asi pues lo que escribas lo recibirás en la 
     variable enteredTitle-->

    <p>
      <label for="summary">Summary</label>
      <textarea id="summary" rows="5" name="summary" [(ngModel)]="enteredSummary" ></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <input type="date" id="due-date" name="due-date"  [(ngModel)]="enteredDate"  />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>